.columns {
  margin: 40px 0 60px;

  > div { /* row */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-items: stretch;
    gap: 40px;
  }

  > div > div { /* column */
    flex: 1;
    margin: 20px 0;

    h2 {
      font-size: var(--heading-font-size-xl);
      font-weight: 600;
    }

    h3 {
      font-size: var(--heading-font-size-m);
      font-weight: 600;
    }

    p {
      font-weight: 300;
      font-size: var(--body-font-size-m);
      line-height: 1.4em;
    }

    &.center {
      text-align: center;
      padding: 0 0 20px;

      > * {
        width: 52%;
        margin: 0 auto;
      }
    }
  }
}


.columns.pillars {
  margin: 0;





  > div { /* row */
    gap: 40px;
  }

  > div > div { /* column */
    margin: 0;
  }

  .center {
    text-align: center;
    padding: 100px 0 40px;

    h2 {
      color: #878787;
      font-weight: 400;

    }

    > * {
      width: 100%;
      margin: 0 auto;
    }
  }

  .col {
    width: 50%;
    background: #dedede;
    border-radius: 20px 20px 0 0;
    padding: 0 0 40px 0;

    p {
      margin: 0;
      color: #222;
    }

    h3 {
      font-size: var(--heading-font-size-m);
      font-weight: 600;
      margin: 20px 0 0;
      color: #303030;
      text-transform: uppercase;

    }

    p:not(:has(img)) {
      padding: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /*border-radius: 20px 20px 0 0;*/
    }
  }
}
