.columns {
  margin: 40px 0 0;

  /* row */
  > div {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 40px;
  }

  /* column */
  > div > div {
    flex: 1;
    margin: 20px 0;

    p {
      font-weight: 300;
      font-size: var(--body-font-size-m);
      line-height: 1.4em;
    }

    &.center { text-align: center }
  }
}

.columns.pillars {
  margin: 0;

  /* row */
  > div {
    gap: 60px;

    @media (width <= 1500px) {
      gap: 40px;
    }
  }

  @media (width <= 1100px) {
    > div > div {
      flex: 1 1 45%; /* Each column will take up roughly half the row */
      /*min-width: 30%; !* Ensures each item gets at least this width *!*/
    }
  }

  .col {
    background: #535353;
    padding: 0 0 20px;
    border-radius: 20px;

    p {
      margin: 0;
      color: #fff;

      &:not(:has(img)) {
        padding: 20px 30px
      }
    }

    h4 {
      color: #fff;
      text-align: center;
    }

    picture {
      position: relative;
      display: block;
      background: var(--blue);
      border-radius: 20px 20px 0 0;

      /* shadow overlay */
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        box-shadow: inset 0 0 60px rgba(0 0 0 / 100%);
        border-radius: inherit;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: contrast(200%);
        mix-blend-mode: hard-light; /* hard-light, luminosity, overlay */
        opacity: .6;
        border-radius: inherit;

      }
    }

  }
}

.columns.icon-grid {
  margin: 0;

  /* row */
  > div {
    gap: 60px;

    @media (width <= 1100px) {
      gap: 0 !important;
    }
  }

  .col {
    text-align: center;
    padding: 0;

    .icon, img {
      width: auto;
      height: 160px;

      @media (width <= 1100px) { height: 140px !important }

      @media (width <= 740px) { height: 100px !important }

      @media (width <= 540px) { height: 80px !important }
    }

    h4 {
      margin: 20px 0 100px;
      color: #535353;

      @media (width <= 1100px) {
        font-size: clamp(22px, 3.5vw, 40px);
      }
    }
  }

  /* column */
  > div > div {
    &.center {
      text-align: center;

      .icon {
        width: 100%;
        height: auto;
      }
    }
  }
}

.columns.icon-grid.certifications {
  .col {
    .icon, img {
      height: 180px;
    }
    h4 { margin: 0 0 30px }
  }
}
