.columns {
  margin: 40px 0 60px;

  > div { /* row */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-items: stretch;
    gap: 40px;
  }

  > div > div { /* column */
    flex: 1;
    margin: 20px 0;

    p {
      font-weight: 300;
      font-size: var(--body-font-size-m);
      line-height: 1.4em;
    }

    &.center {
      text-align: center;
    }
  }
}


.columns.pillars {
  margin: 0;

  > div { /* row */
    gap: 60px;
  }

  .col {
    background: #535353;
    padding: 0 0 20px;
    border-radius: 20px;

    p {
      margin: 0;
      color: #fff;
      &:not(:has(img)) { padding: 20px 30px }
    }

    h4 {
      color: #fff;
      text-align: center;
      font-weight: 800;
    }

    picture {
      position: relative;
      display: block;
      background: var(--blue);
      border-radius: 20px 20px 0 0;

      /* shadow overlay */
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        box-shadow: inset 0 0 60px rgba(0 0 0 / 100%);
        border-radius: inherit;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: contrast(200%);
        mix-blend-mode: hard-light;  /* hard-light, luminosity, overlay */
        opacity: .6;
        border-radius: inherit;

      }
    }

  }
}

.columns.icon-grid {
  margin: 0;

  > div { /* row */
    gap: 60px;
  }

  .col {
    text-align: center;
    padding: 0;

    .icon, img {
      width: auto;
      height: 160px;
    }

    h4 { margin: 20px 0 100px }
  }

  > div > div { /* column */

    &.center {
      text-align: center;

      .icon {
        width: 100%;
        height: auto;
      }
    }
  }

}
