footer {
  background: var(--dark-background);

  > div {
    position: relative;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 60px 40px 40px;
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-size: var(--body-font-size-xs);
    line-height: 1.4em;
    opacity: .9;

    strong {
      display: inline-block;
      text-align: left;
      font-weight: 300;
      width: 50%;
      margin-bottom: 20px;
    }
  }
}
